.App-invert {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  background-image: url('./glitch.png');
}

.App {
   height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: magenta; 
}

.App-invert h1 {
  font-family: 'Mogra';
  font-size: 100pt;
  color: magenta;
}

h1 {
  font-family: 'Mogra';
  font-size: 100pt;
  color: black;
}
